.cardBod{
  display: flex;
  flex-direction: row;
  border: #f44336 solid 1px;
  border-radius: 25px;
  margin-bottom: 40px;
}

.cardContainer{
  margin-top: 50px;
}

.cardVal{
  color: #FFFBFC;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e57373;
  border-radius: 100px;
  width: 2em;
  text-align: center;
  height: 2em;
}

.cardVal p{
  margin-top: 0.2em;
}

.cardInfo{
  margin: 10px;
}

.cardDoner,
.cardCollegeName,
.cardAddress{
  color: #b71c1c;
}

.cardAddress{
  font-weight: 500;
}