.cardBod{
  border: #f44336 solid 1px;
  border-radius: 25px;
}

.cardContainer{
}

.cardVal{
  text-align: center;
}

.cardVal div{
  width: 2em ;
  height: 2em;
  color: #FFFBFC;
  background-color: #e57373;
  border-radius: 50%;
}

.cardInfo{
}

.poc,
.cardDoner,
.cardCollegeName,
.cardAddress{
  color: #b71c1c;
}

.cardAddress{
  font-weight: 500;
}

.font-weight-medium{
  font-weight: 500;
}

.poc-body::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top:-2px;
  background-color: #b71c1c;

}