@import '~bootstrap/scss/bootstrap.scss';
body{
  background-color: #FFFBFC;
}

.h2
{
  color: #263238;
}

.center{
  display: flex;
  justify-content: center;
}

.btn{
  border-radius: 20px;
}

.heartLoader {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  img{
    width: 30vh;
  }
}